body {
    font-family: "Poppins", sans-serif;
}

.mt-28{
    animation: bounce 3s infinite;
    
    filter: drop-shadow(3px 3px 3px #666666);
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(-3%);
      animation-timing-function: cubic-bezier(2, 0, 4, 4);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 1, 2);
    }
}

.py-20 {
    padding-top: 2rem;
    padding-bottom: 2rem;
   
}

.dhiraj {
    filter: drop-shadow(10px 10px 10px #666666);
}